.card {
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
}

.card__title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    max-width: 100%;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card__footer {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__body__grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem;
    grid-auto-flow: column;
}