@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-2: #334D6E;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --purple-3: #A0B1F5;
    --blue: #374FC7;
    --blue-2: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-6: #334D6E;
    --grey-7: #90A0B7;
    --grey-9: #334D6E;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-default: var(--blue-2);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-2);
}

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}