.skeleton {
    display: flex;
    max-width: 579px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 24px 40px 32px 24px;
}


.sceleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }


  .skeleton__item {
      height: 20px;
      background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--gradient-1) 38.47%, var(--gradient-2) 56.48%, var(--gradient-3) 77.5%, var(--grey-2) 102.52%);
      margin-bottom: 8px;
      flex-grow: 1;
      width: 100%;
      
  }

.skeleton__item_small {
    width: 33.4%
  }

.skeleton__item_medium {
    width: 49.9%
  }

.skeleton__header {
  display: flex;
  flex-wrap: nowrap;
  }