.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tooltip__bubble {
    display: none;
    background: var(--blue-2);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    position: absolute;
    white-space: nowrap;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -35px);
}

.tooltip__bubble:before {
    content: "";
    border: 14px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    border-top: 6px solid var(--blue-2);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}