.checkbox {
    display: inline-block;
}

.checkbox__input {
   position: absolute;
   clip: rect(0, 0, 0, 0);
   opacity: 0;
   outline: none;

}

.checkbox__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}
.checkbox__control {
    background: var(--white);
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    position: relative;

}

.checkbox__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    
}

.checkbox__label {

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    margin-left: 12px;



}

.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background-color: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon{
   display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control{
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}