.component {
    background-color: var(--white);
    padding: 32px 0 0 48px;
}

.component__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
}