.background-img {
    max-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../02-background-image/public/forest_2560.jpg');
}

@media screen and (max-width: 1024px) {
    .background-img {
        background-image: url('../02-background-image/public/forest_1024.jpg');
    }
}

@media screen and (max-width: 768px) {
    .background-img {
        background-image: url('../02-background-image/public/forest_768.jpg');
    }
}

@media screen and (max-width: 400px) {
    .background-img {
        background-image: url('../02-background-image/public/forest_400.jpg');
    }
}



